POSTGRES_DB=uk_bank_db
POSTGRES_USER=bank_admin
POSTGRES_PASSWORD=twoje_haslo
DB_HOST=db
DB_PORT=5432
DJANGO_SECRET_KEY=twoj_klucz
DJANGO_DEBUG=True
VITE_API_URL=http://localhost:8000

# pgAdmin
PGADMIN_EMAIL=admin@ukbank.com
PGADMIN_PASSWORD=twoje_haslo_pgadmin

KLIK_BASE_URL=http://host.docker.internal:8000/api/v1
KLIK_BANK_API_KEY=
KLIK_ZONE=UK

CARD_GATEWAY_BASE_URL=http://host.docker.internal:8072
CARD_GATEWAY_API_KEY=bank-key-uk-a
CARD_GATEWAY_HMAC_SECRET=secret-uk-a-hmac
